:local(.navbarBackground) {
    /* margin: 1rem auto; */
    margin: auto;
    position: relative;
    transition: 1.5s ease;
    -webkit-transition: 1.5s ease;
    background-color: #ABD7D8;
    background: linear-gradient(rgba(153, 221, 238, 0.6),rgba(0, 0, 0, 0.1));
    /* background-color: #C1A9D4; */
  }